/* ### HEADER 1 ### */
.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

body {
	margin: 0;
	padding: 0;
	height: 1500px;
  background-color: #F2E9D8;
}

/* ### HEADER 2 ### */

#nav2
{
   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
}
#nav2 #img img{
  background-color: white;
  width:67px;
  float:left;
}
#nav2 ul{
    background-color: grey;
}
#nav2 ul li {
  display: flex;
	justify-content: space-around;
  margin:2px;
}
#nav2 ul li2 head2{
 text-decoration: overline;
  color: #000;
}
#nav2 li:hover
{
	color: white;
  background-color:#62625B;

}
#contact{
  color: white;
}

/* ### BUTTON 1 ### */
.slideTwo {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;
  background: #111;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  background: #fcfff4;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #27ae60;
}
/* ### BUTTON 2 ### */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedTwo label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedTwo label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type=checkbox] {
  visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* ### BUTTON 3 ### */
.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/* ### BUTTON 4 ### */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}
/* ### TEXT 1 ### */
.sound-title {
  text-transform: uppercase;
  font-weight: 900;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
.container div:first-child {
  margin-right: 0.5em;
}
.container .subcontainer {
  font-size: 68px;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d3;
  color: white;
  letter-spacing: -0.15em;
  user-select: none;
  transition: all 0.25s ease-out;
}
.container .subcontainer:hover {
  text-shadow: -16px 6px 15px #ced0d3;
}
/* ### BUTTON 2 ### */
.glow {
  font-family: 'Chilanka', cursive;
  font-size: 68px;
  color: #f1f1f1;
  text-shadow: 0 0 10px #f1f1f1, 0 0 20px #f1f1f1, 0 0 30px #f1f1f1, 0 0 40px #3EB0B4, 0 0 70px #3EB0B4, 0 0 80px #3EB0B4, 0 0 100px #3EB0B4, 0 0 150px #3EB0B4;
  display: flex;
  justify-content: center;
}

/* ### BUTTON 3 ### */
.comic {
  font-family: 'Luckiest Guy';
  font-size: 68px;
  color: white;
  line-height: 1;
  margin: -0.5em 0 1em 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121;
  text-shadow: -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

/* ### BUTTON 4 ### */
.text {
  font: 900 72px/1 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: -3px;
  display: flex;
  justify-content: center;

  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

/* ### MEDIA CARD 1 ### */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

i {
  letter-spacing: 0;
}

.scroll {
  overflow: scroll !important;
}

.item {
  width: 400px;
  height: 500px;
  background: #fff;
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}
.item .img {
  width: 100%;
  height: 50%;
  background: black;
  border-radius: 10px 10px 0 0;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.item .img-content {
  width: 100%;
  height: 100%;
  transition: 0 !important;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/26th_Tokyo_International_Film_Festival-_Tom_Hanks_from_Captain_Phillips_%2814970103713%29.jpg/640px-26th_Tokyo_International_Film_Festival-_Tom_Hanks_from_Captain_Phillips_%2814970103713%29.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.item.showfull .text-container {
  height: 90%;
}
.item.showfull .content {
  height: 78%;
}
.item.showfull .social {
  top: 25px;
}
.item.showfull .img-content {
  transform: scale(1.04);
  filter: blur(5px);
}
.item.showfull .like {
  margin-top: 100px;
}
.item .text-container {
  width: 100%;
  height: 55%;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.item .content {
  height: 63%;
  margin-bottom: 10px;
  overflow: hidden;
}
.item .social {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 40%;
  display: flex;
  justify-content: flex-end;
}
.item h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.item .social div {
  width: 50px;
  height: 50px;
  background: green;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.item .social div:hover {
  transform: scale(1.1);
}
.item .social a:last-child {
  margin-right: 20px;
}
.item a .tw {
  background-color: #0084b4;
}
.item a .fb {
  background-color: #3b5998;
}
.item a .ig {
  background-color: #cd486b;
}
.item .like {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #a37f7f;
  border-radius: 50%;
  color: #fff;
  right: 30px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.item .like:hover {
  transform: scale(1.1);
}
.item .like i {
  font-size: 15px;
}
.item .like.clicked {
  background: #ffcece;
}
.item .like.clicked i {
  color: #e60026;
}
.item .readmore {
  display: flex;
  padding-bottom: 5px;
}
.item .readmore h3 {
  display: block;
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 5px;
}
/* ### MEDIA CARD 2 ### */
.info-card-container {
  width: 100%;
  min-height: 100%;
  height: 83rem;
  overflow: hidden;
  background: linear-gradient(to right, #0C1B23 0%, #0C1B23 70%, #fff 70%, #fff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$white", endColorstr="$white",GradientType=1 );
  /* IE6-9 */
  position: relative;
}

.info-card {
  min-width: 80%;
  max-width: 90rem;
  min-height: 70%;
  height: 70rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0.01rem 0.01rem 1rem #0C1B23;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.info-card__content {
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.info-card__image-exposure {
  width: 45%;
}

.info-card__bio {
  width: 40%;
  padding: 5rem;
  height: auto;
  font-family: "Domine", serif;
}
.info-card__bio--title {
  color: #141D1D;
  font-size: 3.5rem;
  font-weight: 300;
}
.info-card__bio--copy {
  color: #9da09f;
  line-height: 2;
}

.info-card__image-exposure__item {
  background-image: url("https://data.mothership.tools/mothershiptools-ukprod/wp-content/uploads/2017/10/johnlegend-bw-420x420.jpg");
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  opacity: 0.9;
}

.info-card__image-exposure--blend {
  background-image: url("https://images.unsplash.com/photo-1478558284440-e15abf10c81d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80");
  background-repeat: no-repeat;
  background-color: #fff;
  mix-blend-mode: soft-light;
  background-position: -5rem;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  -webkit-animation: blendAnimate 30s linear infinite;
          animation: blendAnimate 30s linear infinite;
}

.close {
  width: 2rem;
  height: 0.25rem;
  background-color: #000;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}
.close:before {
  content: "";
  display: block;
  width: 2rem;
  height: 0.25rem;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
}

@-webkit-keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes blendAnimate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}
